<h2>Show post</h2>

<img style="max-height: 300px;" src="<%= @post.image_url %>" alt="<%= @post.content %>" />

<ul>
  <li>
    <strong>Content:</strong>
    <%= @post.content %>
  </li>
  <li>
    <strong>Source url:</strong>
    <%= @post.source_url %>
  </li>
</ul>

<%= link "Edit", to: post_path(@conn, :edit, @post), class: "btn btn-default btn-xs" %>
<%= link "Back", to: post_path(@conn, :index), class: "btn btn-default btn-xs" %>
