<div class="ui masthead piled segments">
  <div class="ui segment">
    <h1 class="ui header">
      <img class="ui mini circular image" src="/images/taylor.png">
      TS Tweets
      <div class="sub header">
        Timely Taytay tweets
      </div>
    </h1>
  </div>
  <div class="ui segment">
    <div id="app" class="row"></div>
  </div>
</div>
